.App {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  font-size: 28px;
  font-weight: 500;
  color: #808080;
  margin: 20px;
}

.search-bar {
  font-size: 24px;
  padding: 8px 16px;
  border-radius: 40px;
  border: 2px solid #a5a5a5;
  outline: none;
  margin: 0 0 20px 0;

}
.textarea-container {
  display: flex;
  flex-direction: column;
  box-shadow:1px 2px 3px #808080;
}

.textarea-bar {
  outline: none;
  font-size: 16px;
  padding: 12px;
  border: none;
  resize: none;
  width: 500px;
  height: 100px;
}

.textarea-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 18px 14px;
}


.colors-selection {
  display: flex;
  align-items: center;
}

.colors-selection div {
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: blueviolet;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct-icon {
  height: 20px;
}

.add-button {
  background-color: #44c767;
  font-size: 20px;
  color: #fff;
  border-radius: 20px;
  padding: 8px;
  width:  100px;
  border: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}


.card {
  min-width: 240px;
  max-width: 17%;
  height: 240px;
  overflow: auto;
  margin: 18px;
  padding: 12px;
  box-shadow:1px 2px 3px #808080;

}
